/**
 * Custom theme mod by fjcalzado . Based on dark theme.
 */

// Default mixins and settings -----------------
@import "./fjcalzado-defs";
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Include theme-specific fonts
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Archivo+Black");

// Override theme settings (see ../template/settings.scss)

// Background of the presentation
$backgroundColor: $darkColor;

// Primary/body text
$mainFont: $primaryFont;
$mainFontSize: 38px;
$mainColor: $primaryFontColor;

// Vertical spacing between blocks of text
$blockMargin: 20px;

// Headings
$headingMargin: 0 0 $blockMargin 0;
$headingFont: $secondaryFont;
$headingColor: $secondaryFontColor;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: 400;

// Links and actions
$linkColor: $primaryColor;
$linkColorHover: $secondaryColor;

// Text selection
$selectionColor: $primaryFontColor;
$selectionBackgroundColor: $contrastColor;

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1em;

// Customize scroll bar in body.
@mixin bodyAddons() {
  // Default scrollbars style. Chrome.
  ::-webkit-scrollbar {
    width: 0.3rem;
    height: 0.3rem;
  }

  ::-webkit-scrollbar-thumb {
    background: $primaryColor;
  }

  ::-webkit-scrollbar-track {
    background: lighten($backgroundColor, 30%);
    border: 0.2rem solid transparent;
    background-clip: content-box;
  }
}



// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

// Custom Classes

@keyframes pulse-size-animation {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes pulse-glow-animation {
  from {
    text-shadow: 0 0 20px transparentize($primaryColor, 1);
  }
  to {
    text-shadow: 0 0 50px transparentize($primaryColor, 0), 0 0 60px white;
  }
}

.reveal{
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &.space-up-down {
      margin: 70px 0;
    }
  }

  section.has-light-background {
    &,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $darkColor;
    }
  }

  .text-shadow {
    text-shadow: 0 0 20px $darkColor, 0 0 5px $darkColor;
  }

  .pulse-size {
    animation-name: pulse-size-animation;
    animation-duration: 0.6s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  .pulse-glow {
    animation-name: pulse-glow-animation;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  .flex {
    display: flex;
    align-items: center;
    margin: $blockMargin 0;

    &.row {
      flex-direction: row;

      &.spaced {
        justify-content: space-around;
      }

      &.center {
        justify-content: center;
      }
    }

    &.column {
      flex-direction: column;
      align-items: flex-start;

      &.spaced {
        align-items: space-around;
      }

      &.center {
        align-items: center;
      }
    }

    &.top-align {
      align-items: flex-start;
    }

    .header-in-row {
      margin: 0 $blockMargin;
    }
  }

  .code-area {
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: transparentize(lighten($backgroundColor, 30%), 0.5);
  }

  .no-bullet {
    list-style-type: none;
  }

  .positive {
    color: $primaryColor;
  }

  .negative {
    color: $secondaryColor;
  }

  .svg-button {
    margin: 0 1rem;

    svg {
      fill: $linkColor;
      transition: transform 0.12s ease-out, fill 0.12s ease-out;

      &:hover {
        fill: $linkColorHover;
        transform: scale(1.2);
      }
    }
  }
}

