/**
 * Custom theme mod by fjcalzado . Based on dark theme.
 */

// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Include theme-specific fonts
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Archivo+Black");

// Override theme settings (see ../template/settings.scss)

// Background of the presentation
$backgroundColor: #20232a;

// Primary/body text
$mainFont: "Montserrat", Helvetica, sans-serif;
$mainFontSize: 38px;
$mainColor: #eee;

// Vertical spacing between blocks of text
$blockMargin: 20px;

// Headings
$headingMargin: 0 0 $blockMargin 0;
$headingFont: "Archivo Black", Helvetica, sans-serif;
$headingColor: #fff;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: 400;

// Links and actions
$linkColor: #00eccc;
$linkColorHover: #44caff;

// Text selection
$selectionBackgroundColor: lighten($linkColor, 25%);

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1em;

section.has-light-background {
  &,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $backgroundColor;
  }
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

// Custom Classes

@keyframes pulse-size-animation {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes pulse-glow-animation {
  from {
    text-shadow: 0 0 20px transparentize($linkColor, 1);
  }
  to {
    text-shadow: 0 0 50px transparentize($linkColor, 0), 0 0 60px white;
  }
}

.reveal{
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &.space-up-down {
      margin: 70px 0;
    }
  }

  .pulse-size {
    animation-name: pulse-size-animation;
    animation-duration: 0.6s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  .pulse-glow {
    animation-name: pulse-glow-animation;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  .react-color {
    color: #61dafb;
  }

  .d3-color {
    color: #f68e48;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: $blockMargin 0;

    &.center {
      justify-content: center;
    }

    &.spaced {
      justify-content: space-around;
    }

    .header-in-row {
      margin: 0 $blockMargin;
    }
  }

  .code-area {
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: transparentize(lighten($backgroundColor, 30%), 0.5);
  }
}

